h2 {
  font-style: italic;
}

.section-container {
    font-family: var(--font-primary);
    margin: auto;
    width: 100%;
    margin: 3rem 0 10rem;
    display: flex;
    align-items: center;
  }
  
  .bg {
    background-image: url(../img/Web/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
  }
  
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--bg-primary);
  }
  
  .content {
    width: 48%;
    padding: 0 10px 0 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .title-container, h2 {
        font-size: 40px;
    }
  
    .text-container {
      padding: 40px 0 40px;
  
      p {
        width: 90%;
        color: var(--font-primary-color);
      }
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 100px;
    width: 48%;
  
    .main-image {
      scale: 1.1;
      height: 390px;
      border-radius: 7px;
      box-shadow: 1px 1px 30px var(--color-shadow);
      transition: scale 0.7s;
    }
  
    .main-image:hover {
      scale: 1.2;
    }
  }

/* Circuitos */
.circuit-container {
  img {
    width: 100%;
  }

  p {
    padding: 3rem;
    color: var(--color-tertiary);
    font-size: 2rem;
  }
}

/* Equipes */
.teams-accordion {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto; 

  .teams-content-box {
    margin: 1rem 2rem;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: #f2f2f2;
    color: #00001B;
    cursor: pointer;
    font-weight: 800;

    img {
      height: 50px;
    }

    .title-label {
      color: #00001B;
      margin: 0;
      font-size: 3rem;
    }
  }

  .label::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    order: 2;
  }

  .label-content {
    display: flex;
    align-items: center;
    background: var(--bg-primary);
    color: var(--font-primary-color);
    height: 0;
    overflow: hidden;
    transition: .5s ease-in;
    overflow: auto;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 200;
  }

  .teams-content-box.active {
    .label-content{
      height: auto;
      padding: 1rem;
    }
  
    .label::before {
      content: "\f077";
    }
  }
}
  /* Mobile */
@media only screen and (max-width: 1200px) {
    .section-container {
      height: auto;
      margin-bottom: 2rem;
      
    }
    .content-wrapper {
      height: 100%;
      flex-direction: column-reverse;
      padding: 1rem 0 1rem;
      align-items: start;
    }
  
    .content {
      margin-top: 15px;
      width: 100%;
    }
  
    .image-container {
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      flex-grow: 0;
      margin-top: 2rem;
      img {
        width: 90%;
        height: fit-content;
        object-fit: contain;
      }
    }
  
    .piloto-wrapper {
      top: 0 !important;
    }

    .circuit-container {
      p {
        padding: 2rem;
        color: var(--color-tertiary);
        font-size: 1rem;
      }
    }

    .teams-accordion {
      width: 100%;

        .label {
          .title-label {
            font-size: 1rem;
          }
        }

        .label::before {
          font-size: .7rem;
        }
    }


    .teams-content-box.active {
      .label-content {
        padding: .5rem;
        font-size: 1rem;
      }
    }
}