<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formula E</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container">
      <div class="bg">
        <header class="header-page">
          <div class="logo-home">
            <img src="../img/Web/Logo-Formula-E.png" alt="Logo" />
          </div>
          <nav>
            <ul>
              <li><a href="">Wiki</a></li>
              <li><a href="classificacao.html">Classificação</a></li>
              <li><a href="">Jogos</a></li>
            </ul>
          </nav>
        </header>

        <section class="hero">
          <h2>Bem vindo a Fórmula E</h2>
          <a href="" class="button button-dark">ENTRAR</a>
          <a href="#scroll-target">
            <img src="../img/setas.png" alt="Seta para baixo" />
          </a>
        </section>
      </div>

      <div class="section-container mb-1" id="scroll-target">
        <div class="content-wrapper">
          <div class="content">
            <div class="title-container">
              <h2>A Nova Era do Automobilismo</h2>
            </div>
            <div class="text-container">
              <p>
                A Fórmula E, inaugurada em 2014, é a primeira competição mundial
                para carros monopostos totalmente elétricos. Com o avanço da
                tecnologia, os carros agora competem por 45 minutos com uma
                única carga de bateria. Celebrando seu décimo aniversário, a
                Fórmula E continua a promover a inovação e a sustentabilidade no
                automobilismo.
              </p>
            </div>

            <div>
              <a href="#" class="link button button-light">Saiba mais</a>
            </div>
          </div>
          <div class="image-container">
            <img src="../img/Web/Imagem-Home-1.png" alt="Formula E Carro" />
          </div>
        </div>
      </div>
    </div>

    <!-- Começo da div dos cards -->
    <div class="section-container mb-2" id="">
      <div class="content-wrapper">
        <div class="content">
          <div class="title-container">
            <h2>Circuito de Berlim</h2>
          </div>

          <!-- Cards -->
          <div class="accordion">
            <div class="content-box">
              <div class="label">List One</div>
              <div class="label-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae nulla dolorum, minus cum accusamus unde, iste fuga modi perspiciatis id repudiandae distinctio fugiat, culpa ut necessitatibus amet quaerat et?</p>
              </div>
            </div>
          </div>

          <!-- Botão -->
          <div>
            <a href="classificacao.html" class="link button button-light">Confira a classificação atual</a>
          </div>
        </div>

        <!-- Imagem principal do piloto -->
        <div class="image-container">
          <img src="../img/Pilotos/Antonio-Felix-Da-Costa.png" alt="Piloto Antônio Felix da Costa" />
        </div>
      </div>
    </div>

    <!-- Começo do footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <div class="menu">
            <div class="logo-footer">
              <img src="../img/Web/Logo-Formula-E.png" alt="Logo" />
            </div>
            <ul class="no-decoration-list">
              <li></li>
              <li>
                <p>Faça parte da comunidade da Fórmula E</p>
              </li>
            </ul>
          </div>
          <ul class="no-decoration-list">
            <li><h2>Páginas</h2></li>
            <li>
              <a href="#">Home</a>
            </li>
            <li><a href="#">Wiki</a></li>
            <li><a href="classificacao.html">Classificação</a></li>
            <li><a href="#">Jogo</a></li>
          </ul>
        </div>
        <div class="copyright-container">
          <div class="divider"></div>
          <div class="footer-bottom">
            <span>Formula E © 2024</span>
            <a
              href="https://github.com/RafaelPA13/Challange_Web_Dev"
              target="_blank"
              >Código Fonte</a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
