<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formula E</title>
    <!-- Importe de CSS -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/jogo.css" />
    <!-- Importe de Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Importe de icones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <a href="#"><i class="fa-solid fa-angles-left"></i> Voltar</a>
      <img src="../img/Web/Logo-Formula-E.png" alt="logo" />
    </header>
    <main>
      <div class="titulos">
        <h1>Pontuação: 0pts</h1>
      </div>
      <form>
        <div class="forms">
          <div class="categorias">
            <div class="detalhes">
              <h1>Pódio</h1>
              <h2>50pts</h2>
            </div>
            <div class="input">
              <div class="icone">
                <h3>1º</h3>
              </div>
              <input type="text" id="input" placeholder="Escolha o Piloto:" />
            </div>
            <div class="input">
              <div class="icone">
                <h3>2º</h3>
              </div>
              <input type="text" id="input" placeholder="Escolha o Piloto:" />
            </div>
            <div class="input">
              <div class="icone">
                <h3>3º</h3>
              </div>
              <input type="text" id="input" placeholder="Escolha o Piloto:" />
            </div>
          </div>
          <div class="categorias">
            <div class="detalhes">
              <h1>Desempenho</h1>
              <h2>25pts</h2>
            </div>
            <div class="input">
              <div class="icone">
                <i class="fa-regular fa-clock"></i>
              </div>
              <input type="text" id="input" placeholder="Melhor Tempo:" />
            </div>
            <div class="input">
              <div class="icone">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </div>
              <input
                type="text"
                id="input"
                placeholder="Primeiro a abandonar:"
              />
            </div>
          </div>
          <div class="categorias">
            <div class="detalhes">
              <h1>Equipes</h1>
              <h2>25pts</h2>
            </div>
            <div class="input">
              <div class="icone">
                <i class="fa-solid fa-trophy"></i>
              </div>
              <input type="text" id="input" placeholder="Equipe Vencedora:" />
            </div>
            <div class="input">
              <div class="icone">
                <i class="fa-solid fa-ranking-star"></i>
              </div>
              <input
                type="text"
                id="input"
                placeholder="Equipe com mais pontos"
              />
            </div>
          </div>
        </div>
        <button class="button button-dark" onclick="apostas()">
          ENVIAR APOSTAS
        </button>
      </form>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <div class="menu">
            <div class="logo-footer">
              <img src="../img/Web/Logo-Formula-E.png" alt="Logo" />
            </div>
            <ul class="no-decoration-list">
              <li></li>
              <li>
                <p>Faça parte da comunidade da Fórmula E</p>
              </li>
            </ul>
          </div>
          <ul class="no-decoration-list">
            <li><h2>Páginas</h2></li>
            <li>
              <a href="#">Home</a>
            </li>
            <li><a href="#">Wiki</a></li>
            <li><a href="#">Classificação</a></li>
            <li><a href="#">Jogo</a></li>
          </ul>
        </div>
        <div class="copyright-container">
          <div class="divider"></div>
          <div class="footer-bottom">
            <span>Formula E © 2024</span>
            <a
              href="https://github.com/RafaelPA13/Challange_Web_Dev"
              target="_blank"
              >Código Fonte</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/jogo.js"></script>
  </body>
</html>
