<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formula E</title>
    <!-- Importe de CSS -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/wiki.css" />
    <!-- Importe de Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Importe de icones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <a href="#"><i class="fa-solid fa-angles-left"></i> Voltar</a>
      <img src="../img/Web/Logo-Formula-E.png" alt="logo" />
    </header>
    <main>
      <div class="titulos">
        <h1>Nossa História:</h1>
      </div>

    <div class="section-container mb-1" id="scroll-target">
        <div class="content-wrapper">
          <div class="content">
            <div class="title-container">
              <h2>O Inicio de Tudo</h2>
            </div>
            <div class="text-container">
              <p>
                A Fórmula E, iniciada em 2014, é uma série de corridas de carros elétricos criada para promover a mobilidade sustentável e acelerar a adoção de veículos elétricos. A ideia foi desenvolvida por Jean Todt, da FIA, e Alejandro Agag em 2011. A primeira temporada contou com dez equipes e corridas em várias cidades globais.
              </p>
            </div>
          </div>
          <div class="image-container">
            <img
              class="main-image"
              src="../img/Web/Imagem-Wiki-1.webp"
              alt="Formula E Carro"
            />
          </div>
        </div>
      </div>

      <div class="section-container mb-1" id="scroll-target">
        <div class="content-wrapper">
          <div class="content">
            <div class="title-container">
              <h2>Modernização</h2>
            </div>
            <div class="text-container">
              <p>
                Os carros eram inicialmente idênticos, mas a partir da segunda temporada, as equipes começaram a desenvolver seus próprios sistemas de propulsão. Em 2018, o carro Gen2 foi introduzido, eliminando a necessidade de trocas de carro durante as corridas. A Fórmula E também se destaca por sua interação com os fãs através do "FanBoost".
              </p>
            </div>
          </div>
          <div class="image-container">
            <img
              class="main-image"
              src="../img/Web/Imagem-Wiki-2.webp"
              alt="Formula E Carro"
            />
          </div>
        </div>
      </div>

      <div class="section-container mb-1" id="scroll-target">
        <div class="content-wrapper">
          <div class="content">
            <div class="title-container">
              <h2>Consolidação</h2>
            </div>
            <div class="text-container">
              <p>
                Grandes fabricantes como Audi, BMW, Mercedes-Benz, Jaguar e Porsche participam da competição. Em 2020, a Fórmula E foi reconhecida como um Campeonato Mundial pela FIA, consolidando seu prestígio. A série continua a ser uma plataforma para a inovação tecnológica e a sustentabilidade no automobilismo, promovendo um futuro mais verde.
              </p>
            </div>
          </div>
          <div class="image-container">
            <img
              class="main-image"
              src="../img/Web/Imagem-Wiki-3.jpg"
              alt="Formula E Carro"
            />
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-container">
          <div class="footer-content">
            <div class="menu">
              <div class="logo-footer">
                <img src="../img/Web/Logo-Formula-E.png" alt="Logo" />
              </div>
              <ul class="no-decoration-list">
                <li></li>
                <li>
                  <p>Faça parte da comunidade da Fórmula E</p>
                </li>
              </ul>
            </div>
            <ul class="no-decoration-list">
              <li><h2>Páginas</h2></li>
              <li>
                <a href="#">Home</a>
              </li>
              <li><a href="#">Wiki</a></li>
              <li><a href="#">Classificação</a></li>
              <li><a href="#">Jogo</a></li>
            </ul>
          </div>
          <div class="copyright-container">
            <div class="divider"></div>
            <div class="footer-bottom">
              <span>Formula E © 2024</span>
              <a
                href="https://github.com/RafaelPA13/Challange_Web_Dev"
                target="_blank"
                >Código Fonte</a
              >
            </div>
          </div>
        </div>
      </footer>
    </body>
  </html>